body {
    background-image: url("img/wallpaper.jpg");
}

.container, textarea,button{
	max-width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(114, 107, 107);
    border-radius: 40px;
}

textarea{
    border-radius: 10px;
}

button {
    margin: 5px;
}

#player{
    margin-top: 10px;
}

#icon {
    width: 20px;
    padding-right: 3px;
}


h1,h4,label,button{
    font-family: 'Walter Turncoat', cursive;

} 
